* {
    margin: 0px;
    padding: 0;
}

:root {
    --body_back_black_col: black;
    --body_back_wheat_col: wheat;
    --text: rgb(255, 255, 255);
    --transperant: rgba(255, 255, 255, 0.11);
    --transperant2: rgba(255, 255, 255, 0.37);
    --transperantblue: rgba(1, 158, 255, 0.091);
    --seccol: red;
    --lightseccol: rgba(255, 4, 4, 0.772);
    --primecol: rgb(51 51 51);
}

/* CURSOR */

::-webkit-scrollbar {
    width: 0px;
}

.filter {
    filter: invert(1);
}

.dark {
    background-color: var(--body_back_black_col);
    color: var(--text);
}

.light {
    color: var(--body_back_black_col);
    background-color: var(--body_back_wheat_col);
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
}

#theme1{
    width: 25px;
}

.back {
    z-index: -1;
    position: fixed;
}

.first {
    top: 0px;
    left: 0px;
}

.white {
    top: 23px;
    right: 23px;
}

.pill {
    bottom: 20vh;
    z-index: -1;
    /* z-index: 2; */
    left: 0px;
}

.cube {
    bottom: 6vh;
    z-index: -1;
    right: 37vw;
}

.ring {
    bottom: 0px;
    z-index: -1;
    right: 0px;
}

.last {
    bottom: 0;
    right: 0;
    z-index: -2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
}

.box {
    width: 90%;
    min-height: 90vh;
    background-color: var(--transperant);
    border: 1px solid var(--transperant2);
    backdrop-filter: blur(3px);
    border-radius: 25px;
    margin: 10px auto;
    font-size: large;
    font-weight: bolder;
}

nav {
    display: flex;
    margin: 8px auto;
    width: 90%;
}

nav>ul {
    background-color: transparent !important;
    cursor: pointer;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.active {
    border-bottom: 2px solid;
}

nav>img:first-child {
    width: 60px;
}

.firstbtn,
.secondbtn {
    cursor: pointer;
}

nav>img:last-child {
    cursor: pointer;
}

#theme2 {
    display: none;
    filter: invert(1);
}

.first_protion {
    width: 90%;
    height: 89%;
    display: flex;
    margin: 12px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    overflow: hidden;
}

.text {
    background-color: transparent;
}

.org {
    color: orangered;
}

.contact {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

button>a {
    text-decoration: none;
    background-color: transparent !important;
}

.firstpagebtn {
    margin: 12px;
    border: none;
    background-color: rgb(255, 92, 33);
    padding: 12px 24px;
    border-radius: 12px;
    font-weight: bolder;
    font-size: x-large;
}

/* second_portion */
.second_portion {
    margin-top: 35px;
    overflow: scroll;
    flex-direction: column;
}
.second_portion_text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.skills{
    padding-left: 18px;
    margin-left: 6px;
    border-left: 4px solid orangered;
    border-radius: 12px;
}
.second_portion_contacts>ul{
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
}
.second_portion_contacts>ul>li>a{
    text-decoration: none;
}



/* Media Queries */

@media (min-width: 640px) {

    .text>p{
        font-family: 'Courier New', Courier, monospace;
        font-size: x-large;
        font-weight: 100;
    }
    .skills>p{
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
    }

}

@media (min-width: 768px) {
    .first_protion{
        margin: 60px auto;
    }
 }

 @media (min-width: 1024px) { 
    .contact{
        flex-direction: row-reverse;
    }
    .second_portion_text{
        font-size: x-large;
    }
    .skills{
        border-left: 6px solid orangered;
    }

  }

  @media (min-width: 1280px) { 

    .firstpagebtn {
        font-size: large;
    } 
    .text{
        font-size: medium;
    }
    .man{
       height: 380px;
    }
    .first_protion{
       margin: 40px auto;
     }
    
  }

  @media (min-width: 1536px) { 

    .firstpagebtn {
        font-size: x-large;
    } 
    .text{
        font-size: x-large;
        text-align: left;
    }
    .text>p{
        font-size: x-large;
    }
    .man{
       height: 600px;
    }
    .first_protion{
       margin: 80px auto;
       flex-direction: row-reverse;
     }
     nav>ul{
        font-size: x-large;
        gap: 60px;
     }
     .box{
        min-height: 80vh;
     }
     .skills{
        margin-left: 23px;
        margin-right: 23px;
     }
     #theme1{
         width: 35px;
     }
  }

  @media (min-width: 2000px) { 
    .text{
        font-size: xx-large;
    }
    .text>p{
        font-size: xx-large;
    }
    .man{
       height: 800px;
    }
     nav>ul{
        font-size: xx-large;
        gap: 100px;
     }
  }